<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="todos">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="app" ng-controller="TodosController as todosController">
            <div ng-repeat="todo in todosController.todos">
                <div ng-controller="TodoController as todoController" ng-click="todoController.toggleEdit();todo.editing = !todo.editing">
                    <span ng-hide="todo.editing">{{todo.name}}</span>
                    <textarea ng-show="todo.editing"></textarea>
                    <span ng-show="todo.dueDate">{{todo.dueDate | date:'medium'}}</span>
                    <button ng-click="todosController.removeTodo(todo.id)" type="button" class="btn btn-default btn-lg">
                        Remove
                    </button>
                </div>
            </div>
            <div ng-controller="AddTodoController as addCtrl">
                <span>{{addCtrl.todo.name}}</span>
                <span ng-show="addCtrl.todo.dueDate">{{addCtrl.todo.dueDate | date:'medium'}}</span>
                <form ng-submit="addCtrl.addTodo(todosController)">
                    <input type="text" ng-model="addCtrl.todo.name"></input>
                    <input type="date" ng-model="addCtrl.todo.dueDate"></input>
                    <input type="submit"></input> 
                </form>
            </div>
        </div>
        <script type="text/javascript" src="cordova.js"></script>

        <script type="text/javascript" src="js/constants/storageConstants.js"></script>
        
        <script type="text/javascript" src="js/main.js"></script>

        <script type="text/javascript" src="libs/angular.js"></script>
        <script type="text/javascript" src="libs/lodash.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>
