.td-todo-label {
	font-size: 1.5em;
	max-width: 200px;
}

.td-todo-element {
	border-bottom: #D7D7D7 1px solid;
}

.td-categories-sidebar {
	width: 100%;
	background: #d4d4d4;
	border-right: solid #b4b4b4 1px;
}